
form#user-login #edit-name-wrapper {
  margin-top:.5em;
}
form#user-login #edit-name-wrapper label {
  float: left;
  font-size: 14px;
}
form#user-login h2.loginazon-email {
  clear: left;
  padding-bottom: 10px;
}
form#user-login #edit-name {
  float: left;
  margin-left: 15px;
  width: 150px;
}
form#user-login h2.loginazon-has-password{
  clear:left;
  padding-top: 20px;
  padding-bottom:10px;
}
form#user-login #edit-name-wrapper .form-item label {
  font-size: 14px;
  font-weight: bold;
}
form#user-login #edit-has-password-1-wrapper {
  clear: left;
  float: left;
}
form#user-login #edit-has-password-0-wrapper label,
form#user-login #edit-has-password-1-wrapper label {
  font-size: 14px;
  font-weight: bold;
}
form#user-login #edit-pass-wrapper {
  margin-top:.5em;
}
form#user-login #edit-pass {
  float: left;
  margin-left: 15px;
  width: 150px;
}
form#user-login #edit-submit {
  clear: left;
  float: left;
}